# Python exercises 1 part 1/2
The exercises are connected to the video available at: https://www.youtube.com/watch?v=M7bnYJyCx0Q from 0:00 to 1:02:20.

When writing the solutions make sure the code is clear and readable. When providing comments, follow the general principle that you should comment "why" you are doing something and not "what", the "what" is seen by the code itself.

### Add and multiply the two numbers below.

# Lists

In [4]:
nr1 = 5
nr2 = 10

print(nr1+nr2)
print(nr1*nr2)

15
50

### Extract the first and last element in the list.

In [6]:
l = [1, 2, 3, 10, 15, 100]

#first element
print(l[0])
#second element
print(l[5])
#alternative 2 with minus index
print(l[-1])

1
100
100

### Check if the first and last number is the same in each list respectively. So, we expect the answer True in list_1 and False in list_2.

In [19]:
list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 65, 35, 75, 30]


print(list_1[0] == list_1[-1])
print(list_2[0] == list_2[-1])

#another alternative is if expectation is not like upper below so can be able with if else statement
if list_1[0] == list_1[-1]:
    print('True')
else:
    print('False')
    
#same alternative for list_2
if list_2[0] == list_2[-1]:
    print('True')
else: 
    print('False')

True
False
True
False

### Replace the number 4567 in the list with the number 22.

In [20]:
replace_4567 = [100, 2, 4567, 5, 7]

replace_4567[2] = 22
print(replace_4567)

[100, 2, 22, 5, 7]

### Replace the two numbers 3 and 4 with 30 and 40 in one line of code  by using slicing.

In [26]:
replace_two_numbers = [1, 2, 3, 4, 5]

In [27]:
replace_two_numbers[2:4] = [30, 40]
print(replace_two_numbers)

[1, 2, 30, 40, 5]

### Print out the list below but in reverse order.

In [22]:
my_list = [1, 2, 3, 10, 15, 100]

print(my_list[::-1])

[100, 15, 10, 3, 2, 1]

### Extract the following numbers with indexing or slicing:
* The number 5 in the list within the list. 
* Extract the whole list [10, 12, 13, 5, 100].
* Extract 12, 13, 5 in the list within the list
* Extract the number 8888 with negative indexing.
* Extract 1, 2, [10, 12, 13, 5, 100].

In [24]:
list_containing_a_list = [1, 2, [10, 12, 13, 5, 100], 8888, 3, [1, 2, 3]]

In [25]:
print(list_containing_a_list[2][3])
print(list_containing_a_list[2])
print(list_containing_a_list[2][1:4])
print(list_containing_a_list[-3])
print(list_containing_a_list[0:3])

5
[10, 12, 13, 5, 100]
[12, 13, 5]
8888
[1, 2, [10, 12, 13, 5, 100]]

### Append the empty list with the number 10 and the string 'Hello'. You should use the append method twice.

In [29]:
empty_list_1 = []

In [31]:
empty_list_1.append(10)
empty_list_1.append('Hello')
print(empty_list_1)

[10, 'Hello']

# Append the empty list with the number 10 and the string 'Hello'. You should use the extend method once.

In [32]:
empty_list_2 = []

In [34]:
empty_list_1.extend((10,'Hello'))
print(empty_list_1)

[10, 'Hello', 10, 'Hello']

### Use list comprehension to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included.

In [35]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
new_list = [x*10 for x in list_example if 4<=x<=8]
print(new_list)

[40, 50, 60, 70, 80]

### Concatenate the two lists below elementwise so you get a new list ['My', 'name', 'is', 'Antonio']. Hint: use the zip function. 
Expected output: ["My", "name", "is", "Antonio"].

In [38]:
list1 = ["M", "na", "i", "Anto"]
list2 = ["y", "me", "s", "nio"]

In [41]:
#alternative 1
L = [i + j for i, j in zip(list1, list2)]
print(L)

['My', 'name', 'is', 'Antonio']

In [42]:
#alternative 2
L = []
for i,j in zip(list1, list2):
    L.append(i+j)

print(L)

['My', 'name', 'is', 'Antonio']

# Tuples

### Unpack the tuple so that we get 4 new variables.

In [40]:
my_tuple = (10, 20, 30, 40)

In [45]:
a, b, c, d = my_tuple

print(my_tuple)
#alt alta
print(a)
print(b)
print(c)
print(d)
#yan yana yazilmasi da mumkun
print(a,b,c,d)

(10, 20, 30, 40)
10
20
30
40
10 20 30 40

### Explain with your own words what the code below containing two scenarios does.

In [46]:
def f(x): 
    return (x, x**2, x**3, x**4)

# Scenario 1.
x1, x2, x3, x4 = f(2)
print(x1)
print(x2)
print(x3)
print(x4)

print()

# Scenario 2.
x = f(3)
print(x)

2
4
8
16

(3, 9, 27, 81)

### Count the number of times 24 occurs in the tupple.

In [47]:
tuple_22 = 24, 2, 4, 24, 24, 5

In [48]:
tuple_22.count(24)

3

### Swap the two tuples, i.e. t1 should be replaced by t2 and vice versa.

In [49]:
t1 = ('Python', 'MATLAB')
t2 = ('R', 'Julia')

In [50]:
t1, t2 = t2, t1
print(t1)
print(t2)

('R', 'Julia')
('Python', 'MATLAB')

# Dictionaries

### We have two lists, use both of them to convert it to a dictionary. l1 should be the keys whereas l2 should be the values. Hint, use the zip function.

In [51]:
l1 = [1, 2, 3]
l2 = ['Python', 'C++', 'Java']

In [52]:
my_dict = dict(zip(l1, l2))
print(my_dict)
print(type(my_dict))

{1: 'Python', 2: 'C++', 3: 'Java'}
<class 'dict'>

### Print out the value corresponding to the key "1".

In [54]:
dictionary = {0: 'Easy', 1: 'as', 2: 'ABC'}

In [55]:
dictionary[1]

'as'

### Explain with your own words what the code does.

In [56]:
def y(x):
  y0 = x
  y1 = x**2
  y2 = x**3

  return {'y0': y0, 'y1': y1 ,'y2': y2}

In [57]:
y(2)['y1']

4

# Sets

### Create a set named my_set containing the items: Python, R, MATLAB, Julia, SAS, C.

In [61]:
my_set ={'Python','R','MATLAB','Julia','SAS','C'}

### Find all elements that are in atleast one of the sets.

In [62]:
set_a = {1, 2, 99}
set_b = {0, 100, 15, 765}

In [63]:
set_a.union(set_b)

{0, 1, 2, 15, 99, 100, 765}

### Find all the items that are in *both* lists and return those values in a list.

In [64]:
l1 = ['Python', 'R', 'MATLAB', 'Julia']
l2 = ['Python', 'Julia']

In [65]:
intersection = list(set(l1).intersection(set(l2)))
print(intersection)
#check if they are list
print(type(intersection))

['Python', 'Julia']
<class 'list'>

### Find all the unique elements of the list.

In [67]:
l = [1, 1, 2, 2, 3, 1, 2]

In [68]:
print(set(l))

# If you would like to return the unique elements in a list this is easily done:
print(list(set(l)))

{1, 2, 3}
[1, 2, 3]

### Find all the elements that are in set_1 but not in set_2.

In [69]:
set_1 = {1, 2, 3, 4, 5, 6}
set_2 = set([1, 3, 4])

In [70]:
set_1.difference(set_2)

{2, 5, 6}

# Iteration & Loops

### Print out all the elements in the list "looping_list" with a for loop.

In [71]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [72]:
for i in looping_list:
    print(i)

0
a
b
[1, 2, 3]
('Python', 'R')
55

### Print out all the elements in the list "looping_list" and enumerate the iteration number.

In [73]:
looping_list = [0, 'a', 'b', [1, 2, 3], ('Python', 'R'), 55]

In [74]:
for i, j in enumerate(looping_list):
    print(i, j)

0 0
1 a
2 b
3 [1, 2, 3]
4 ('Python', 'R')
5 55

### Write a for loop to print out each letter in the string.

In [75]:
for_string = 'Python!'

In [76]:
for i in for_string:
    print(i)

P
y
t
h
o
n
!

### Write a while loop to print out each letter in the string.

In [77]:
while_string = 'Is Awesome!'

In [80]:
l = len(while_string)
i = 0
while i < l:
    print(while_string[i])
    i += 1

I
s

A
w
e
s
o
m
e
!

### Print the numbers 1, 2, ..., 10 with a while loop.

In [81]:
i = 0

while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

### Print out all numbers that are divisible by 5 in the list "numbers". 
Hint: Use the modulo operator %. A number is divisible by 5 if the remainder after dividing by 5 is 0.

In [82]:
numbers = [10, 20, 34, 46, 55]

In [83]:
numbers = [10, 20, 34, 46, 55]

for i in numbers: 
    if i%5 == 0:
        print(i)

10
20
55

### Print the numbers 0, 5, 10, 15, 20 with a for-loop and using the range function.

In [84]:
for i in range(0, 25, 5):
    print(i)

0
5
10
15
20

### Use a for loop to create a new list from list_example, where each number is mulitplied by 10. You should only include the numbers between 4-8 where 4 and 8 is included. (In general it is better to do this with list comprehension since it is more efficient but this is for exercise purpose.)

In [85]:
list_example = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

L = []
for i in list_example:
    if 4<=i<=8:
        L.append(i*10)
        
print(L)

[40, 50, 60, 70, 80]

# Functions

### Create a function "uppercase_converter" that converts a string to uppercase. For example: uppercase_converter('hello') should return the value HELLO.

In [86]:
def uppercase_converter(string):
    return string.upper()

In [87]:
print(uppercase_converter('hello'))
print(type(uppercase_converter('hello')))

HELLO
<class 'str'>

### Create a function that accepts two arguments and that returns the sum and subtraction of the numbers.

In [88]:
def sum_and_add(x, y):
    addition = x + y
    subtraction = x - y
    return (addition, subtraction)

sum_and_add(10, 5)

(15, 5)

### Create  a function that contains positional only, positional or keyword and finally keyword arguments only. Hint:
**def f(pos_only_1, /, pos_or_kwd, *, kwd_only_1)** .

In [89]:
def f(x1, /, x2, *, x3):
    return x1 + x2 + x3

In [90]:
print(f(1, x2=2, x3=3))

# Returns an error.
# print(f(x1=2, x2=2, x3=3))

6

### Assign a different name to the function and call it through the new name.

In [93]:
def my_sum_function(x1, x2):
    return x1 + x2

my_sum_function(1,2)

3

In [94]:
new_name = my_sum_function

In [95]:
print(new_name(1, 2))
print(my_sum_function(2, 4))

3
6

### Write a function f that takes three arguments. The first two are numbers whereas the third is specifying wheter you want to multiply or add them. 
Example: 

f(2, 5, 'add') = 7

f(2, 5, 'multiply') = 10

f(2, 5, 'test') should return an error (raise an exception) and print out the message: Choose either "add" or "multiply" .

In [105]:
def f(num1, num2, add_or_multiply): 
    """Add or multiply two numbers."""
    
    if add_or_multiply not in ('add', 'multiply'):
        raise Exception('Choose either "add" or "multiply". ')
    elif add_or_multiply == 'add':
        answer = num1 + num2
    elif add_or_multiply == 'multiply':
        answer = num1 * num2
    
    return answer

In [106]:
print(f(2, 5, 'add'))
print(f(2, 5, 'multiply'))

# print(f(2, 5, 'test'))

7
10

### Run the program below and explain what it does.

In [110]:
name = input('What is your name dear stranger?')

print('Mom, I met a person whos name is:', name)

KeyboardInterrupt: Interrupted by user

# General Exercises

### Check if the strings below is a palindrome meaning that if you reverse the string it is the same. 
Example: anna reversed is still anna meaning it is a palindrome. john reversed is nhoj meaning it is not a palindrome.

In [113]:
string_1 = 'anna'
string_2 = 'john'

In [116]:
# Checking string 1.
if string_1 == string_1[::-1]:
    print('It is a palindrome')
else: 
    print('It is not a palindrome')
    
# Checking string 2.
if string_2 == string_2[::-1]:
    print('It is a palindrome')
else: 
    print('It is not a palindrome')

It is a palindrome
It is not a palindrome

In [117]:
string_1[-2]

'n'

### Explain, with your own words, the difference between the two code blocks below. When would you prefer the respective method? Can you create two own examples when each method might be useful?
A good link: https://stackoverflow.com/questions/9271712/difference-between-multiple-ifs-and-elifs .

In [118]:
number = 8

In [119]:
if number < 5:
    print('Less than 5')
if number < 10:
    print('Less than 10')
if number < 100:
    print('Less than 100')

Less than 10
Less than 100

In [120]:
if number < 5:
    print('Less than 5')
elif number < 10:
    print('Less than 10')
elif number < 100:
    print('Less than 100')

Less than 10